.movieList {
  list-style: none; /* Видалити стандартні маркери списку */
  padding: 0;
}

.movieItem {
  margin-bottom: 10px;
}

.movieLink {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.marker {
  margin-right: 10px; /* Розташувати маркер перед назвою фільму */
  font-size: 24px; /* Розмір маркера */
  color: #007bff; /* Колір маркера */
}

.movieLink:hover {
  color: #0056b3; /* Колір при наведенні */
}
